.bigHeadline {
  margin-bottom: var(--margin-bottom) !important;
}

.mainContainer {
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
}

.mainContainer span {
  font-size: 15px;
  font-weight: 500;
}

input {
  box-sizing: border-box;
  background: var(--bright-white);
  border: 1px solid var(--grey);
  border-radius: 10px;
  padding: 15px 20px;
}

input::placeholder {
  color: var(--dark-grey);
  font-size: 15px;
}

.error {
  margin-top: -8px;
  color: #f24822;
  font-size: 12px !important;
}

.leftSection {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#descriptionInput {
  height: 70px;
}

.inputContainer {
  position: relative;
}

#newCategoryInput,
#inputContacts {
  width: 100%;
}

.inputImage {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 19px;
  right: 22px;
}

.partingLine {
  border: 1px solid var(--grey);
}

#selectCategoryDiv,
#selectContactsDiv {
  position: relative;
  box-sizing: border-box;
  background: var(--bright-white);
  border: 1px solid var(--grey);
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

#selectCategoryTitleDiv,
#selectContactsTitleDiv {
  padding: 15px 20px;
}

#selectCategoryTitle,
#selectContactsTitle {
  font-weight: unset !important;
  color: var(--dark-grey);
}

.selectedCategory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-weight: unset !important;
}

.selectedCategory span {
  font-weight: unset !important;
}

.listDropDown {
  margin: unset;
  padding-left: unset;
  list-style-type: none;
  font-size: 15px;
  color: var(--dark-grey);
}

.listDropDown li {
  padding: 13px 20px;
  cursor: pointer;
}

.listDropDown li:hover {
  background-color: var(--grey);
}

#savedContacts li:last-child:hover {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.singleCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.singleCategory span {
  font-weight: unset;
}

.purple {
  background-color: #9747ff;
}

.red {
  background-color: #f24822;
}

.green {
  background-color: #14ae5c;
}

.orange {
  background-color: #ffcd29;
}

.rosa {
  background-color: #ff24bd;
}

.blue {
  background-color: #0d99ff;
}

.newCategoryContainerImages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23px;
  z-index: 1;
}

.close {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.confirm {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.partingLineCategory {
  height: 31px;
  width: 1px;
  background-color: var(--grey);
}

#newCategoryColorSelection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
  margin-top: -4px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  border: 2px solid var(--bright-white);
  transform: translateY(0);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.selectedColor {
  transform: translateY(-5px);
}

#errorNewCategoryNoNameEntered {
  padding-left: 20px;
  margin-top: -10px;
  color: red;
  font-size: 12px;
}

#errorNewCategoryNameAlreadyExists {
  padding-left: 20px;
  margin-top: -10px;
  color: red;
  font-size: 12px;
}

#errorNewCategoryNoColorSelected {
  padding-left: 20px;
  margin-top: -5px;
  color: red;
  font-size: 12px;
}

.oneContact {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.rightSection {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

#inputDueDate {
  width: 100%;
}
.prioBtns {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.singlePrioBtn {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 4px 5px !important;
  background: var(--bright-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--grey);
  color: black;
}

.singlePrioBtn:hover:not(.selectedPrioBtn) {
  border: 1px solid var(--grey);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 9px 15px -7px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 9px 15px -7px rgba(0, 0, 0, 0);
  transition: 0.5s;
  background: var(--bright-white);
  cursor: pointer;
}

.prioBtns img {
  width: 16px;
  height: 16px;
}

#addTaskSubtasks {
  width: 100%;
}

.imagePlus {
  top: 16px;
  cursor: pointer;
}

#subtasks {
  max-height: 70px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.singleSubtask {
  display: flex;
  align-items: center;
  gap: 15px;
}

.singleSubtask input {
  display: flex;
  align-items: center;
  gap: 15px;
}

.singleSubtask span {
  font-weight: unset;
  font-size: 12px;
}

.clearAndCreateBtns {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.clearBtn {
  width: 100px;
}

.createBtn {
  width: 150px;
}

.clearAndCreateBtns button {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clearBtn {
  background-color: var(--bright-white) !important;
  color: var(--dark-blue) !important;
}

.clearBtn img {
  width: 11px;
  height: 11px;
}

.clearBtn:hover {
  color: var(--bright-blue) !important;
  border: 1px solid var(--bright-blue);
  transition: 0.2s;
}

.createBtn:hover {
  transition: 0.2s;
}

#closeDisplay {
  display: none;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
