@media only screen and (max-width: 760px) {
  .mainContainer {
    width: 75%;
  }
  #containerAdd {
    align-items: flex-start;
    overflow: scroll;
  }

  .mainContainer {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 40px 15px;
  }
}

@media only screen and (max-width: 440px) {
  .displayEdit {
    width: 81%;
  }
}
