@media only screen and (max-width: 1020px) {
  .gap {
    gap: 20px;
  }

  .headContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .partingLineBlue {
    display: none;
  }

  .lineMobile {
    display: flex !important;
  }

  .bigCircle {
    font-size: 25px;
    border: 4px solid var(--bright-white);
  }

  .name {
    font-size: 25px;
  }
}

@media only screen and (max-width: 920px) {
  body {
    background-color: var(--bright-white);
  }

  #content {
    position: unset;
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height) !important;
    padding: unset;
    background-color: var(--bright-white);
    overflow: unset !important;
  }

  .newContactBtnMobileContainer {
    display: flex !important;
  }

  .newContactBtnContainer {
    display: none;
  }

  #contactList {
    width: unset;
    max-width: unset;
    overflow-y: unset;
    box-shadow: none;
    padding-bottom: 80px;
  }

  .newContactBtnMobileContainer {
    display: flex;
    padding: 20px;
  }

  .newContactBtn {
    width: 165px;
    height: 43px;
  }
}
