@media only screen and (max-width: 460px) {
  h1 {
    font-size: 25px;
  }

  .display {
    width: 80%;
  }

  input {
    font-size: 15px;
  }

  .sendEmailBtn {
    width: 157px;
    height: 39px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 22px;
  }
}
