@media only screen and (max-width: 1150px) {
  .display {
    padding: 20px;
    width: 387px;
  }
}

@media (max-height: 920px) {
  .loginHeader img {
    width: 40px;
    height: 60px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  button {
    width: 130px;
    height: 40px;
  }

  input {
    font-size: 15px;
  }
}

@media (max-height: 520px) {
  .loginHeader img {
    width: 30px;
    height: 50px;
  }
}

@media (max-width: 493px) {
  .loginNoUser {
    display: none;
  }
  .loginNoUserResponsiv {
    display: flex;
  }
  .display {
    padding: 15px;
    width: 340px;
  }
}

@media (max-width: 470px) {
  .loginForgotPassword,
  .loginRememberMe {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .display {
    padding: 15px 10px;
    width: 320px;
  }
}

@media (max-width: 380px) {
  .loginButtonsDiv {
    flex-direction: column;
  }
}
