@media (max-height: 920px) {
  .loginHeader img {
    width: 40px;
    height: 60px;
  }
}

@media only screen and (max-width: 600px) {
  .logoDiv img {
    width: 40px;
    height: 45px;
  }

  h1 {
    font-size: 35px;
  }
}

@media (max-height: 520px) {
  .loginHeader img {
    width: 30px;
    height: 50px;
  }
}

@media (max-width: 493px) {
  .loginNoUser {
    display: none;
  }
  .loginNoUserResponsiv {
    display: flex;
  }
}

@media (max-width: 470px) {
  .loginForgotPassword,
  .loginRememberMe {
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  .loginButtonsDiv {
    flex-direction: column;
  }
}
