<!--LEFT SECTION-->
<section class="leftSection">
  <div class="closeDisplayLeftSectionDiv">
    <span>Title</span>
    <img
      onclick="closeAddTask()"
      id="closeDisplayLeftSection"
      src="../assets/img/boardCloseDisplay.svg"
      alt="icon to close display" />
  </div>
  <span class="titleBigScreen">Title</span>
  <input type="text" id="titleInput" placeholder="Enter a title" tabindex="1" />
  <span id="errorTitle" class="error d-none">Please enter a title</span>
  <span>Description</span>
  <input
    type="text"
    id="descriptionInput"
    placeholder="Enter a description"
    tabindex="2" />
  <span id="errorDescription" class="error d-none"
    >Please enter a description</span
  >
  <span>Category</span>
  <!--CATEGORY-->
  <div id="selectCategoryDiv" tabindex="3">
    <div id="selectCategoryTitleDiv">
      <span id="selectCategoryTitle">Select task category</span>
      <img
        class="inputImage"
        src="../assets/img/addTaskDropDownArrow.svg"
        alt="arrow to drop down the menu of categorys" />
    </div>
    <ul id="listCategorys" class="d-none listDropDown">
      <li onclick="toggleNewCategory()" class="singleCategory">
        <span>New Category</span>
        <div class="blue circle"></div>
      </li>
      <div id="selectableCategorys"></div>
    </ul>
  </div>
  <div id="newCategoryDiv" class="inputContainer d-none">
    <input
      type="text"
      id="newCategoryInput"
      placeholder="New category name"
      maxlength="20" />
    <div class="newCategoryContainerImages">
      <img
        onclick="stopAddingNewCategory()"
        class="close"
        src="../assets/img/addTaskClose.svg"
        alt="icon to close the category section" />
      <div class="partingLineCategory"></div>
      <img
        onclick="addNewCategory()"
        class="confirm"
        src="../assets/img/addTaskConfirm.svg"
        alt="icon to add a new category" />
    </div>
  </div>
  <span id="errorNewCategoryNameAlreadyExists" class="d-none"
    >This category already exists. Please enter another name</span
  >
  <span id="errorNewCategoryNoNameEntered" class="d-none"
    >Please enter a name for the new category</span
  >

  <div id="newCategoryColorSelection" class="d-none">
    <div
      onclick="moveSelectedColorCircleUp(event)"
      id="purple"
      class="purple circle cursorPointer"></div>
    <div
      onclick="moveSelectedColorCircleUp(event)"
      id="red"
      class="red circle cursorPointer"></div>
    <div
      onclick="moveSelectedColorCircleUp(event)"
      id="green"
      class="green circle cursorPointer"></div>
    <div
      onclick="moveSelectedColorCircleUp(event)"
      id="orange"
      class="orange circle cursorPointer"></div>
    <div
      onclick="moveSelectedColorCircleUp(event)"
      id="rosa"
      class="rosa circle cursorPointer"></div>
    <div
      onclick="moveSelectedColorCircleUp(event)"
      id="blue"
      class="blue circle cursorPointer"></div>
  </div>
  <span id="errorNewCategoryNoColorSelected" class="d-none"
    >Please select a color</span
  >
  <span id="errorNoCategorySelected" class="error d-none"
    >Please select a category</span
  >
  <!--CONTACTS-->
  <span>Assigned to</span>
  <div id="selectContactsDiv" class="containerSection" tabindex="4">
    <div id="selectContactsTitleDiv" class="containerTitle">
      <span id="selectContactsTitle">Select contacts to assign</span>
      <img
        class="inputImage"
        src="../assets/img/addTaskDropDownArrow.svg"
        alt="arrow to drop down the menu of contacts" />
    </div>
    <ul id="listContacts" class="listDropDown d-none">
      <div id="loggedUserContact">
        <li class="oneContact" onclick="event.stopPropagation();">
          <div onclick="toggleCheckbox(0)" class="toggleCheckbox"></div>
          <label class="nameOfContact">You</label>
          <input id="checkBoxUser0" type="checkbox" />
        </li>
      </div>
      <div id="savedContacts"></div>
    </ul>
  </div>
</section>
<div class="partingLine"></div>
<!--RIGHT SECTION-->
<section class="rightSection">
  <img
    onclick="closeAddTask()"
    id="closeDisplay"
    src="../assets/img/boardCloseDisplay.svg"
    alt="icon to close display" />
  <span>Due date</span>
  <div>
    <input
      type="date"
      id="inputDueDate"
      placeholder="dd/mm/yyyy"
      tabindex="5" />
  </div>
  <span id="errorDueDate" class="error d-none">Please select a due day</span>
  <span>Prio</span>
  <div class="prioBtns">
    <button
      tabindex="6"
      type="button"
      id="urgent"
      class="singlePrioBtn"
      onclick="changeStylePrioBtn('urgent','red', '../assets/img/urgent.svg')">
      Urgent
      <img src="../assets/img/urgent.svg" alt="icon to show priority" />
    </button>
    <button
      tabindex="7"
      type="button"
      id="medium"
      class="singlePrioBtn"
      onclick="changeStylePrioBtn('medium','orange', '../assets/img/medium.svg')">
      Medium
      <img src="../assets/img/medium.svg" alt="icon to show priority" />
    </button>
    <button
      tabindex="8"
      type="button"
      id="low"
      class="singlePrioBtn"
      onclick="changeStylePrioBtn('low','green','../assets/img/low.svg')">
      Low
      <img src="../assets/img/low.svg" alt="icon to show priority" />
    </button>
  </div>
  <span id="errorPriority" class="error d-none">Please select a priority</span>
  <span>Subtasks</span>
  <div class="inputContainer" tabindex="9">
    <input type="text" id="addTaskSubtasks" placeholder="Add new subtask" />
    <img
      onclick="addSubtask()"
      class="inputImage imagePlus"
      src="../assets/img/addTaskPlus.svg"
      alt="icon of plus to add a subtask" />
  </div>
  <div class="listDropDown" id="subtasks"></div>
  <div class="clearAndCreateBtns">
    <button onclick="clearTask()" id="clearBtn" tabindex="10">
      <span>Clear</span>
      <img
        id="clearBtnIcon"
        src="../assets/img/addTaskCancelDark.svg"
        alt="icon of plus to add
        a subtask" />
    </button>
    <button onclick="createTask('todo')" id="createBtn" tabindex="11">
      <span>Create Task</span>
      <img
        src="../assets/img/addTaskCreate.svg"
        alt="icon to create a new task" />
    </button>
    <button onclick="editTask()" id="editBtn" class="d-none">
      <span>Edit Task</span>
      <img src="../assets/img/addTaskCreate.svg" alt="icon to edit a task" />
    </button>
  </div>
</section>
