<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join - Board</title>
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/general-responsiv.css" />
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/nav-responsiv.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/header-responsiv.css" />
    <link rel="stylesheet" href="../css/animations.css" />
    <link rel="stylesheet" href="../css/board.css" />
    <link rel="stylesheet" href="../css/board-responsiv.css" />
    <link rel="stylesheet" href="../css/addTask.css" />
    <link rel="stylesheet" href="../css/addTask-responsiv.css" />
    <script src="../js/storage.js"></script>
    <script src="../js/globalVariables.js"></script>
    <script src="../js/sampleData.js"></script>
    <script src="../js/includeHtml.js"></script>
    <script src="../js/generalFunctions.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/board.js"></script>
    <script src="../js/boardHtml.js"></script>
    <script src="../js/addTasks.js"></script>
    <script src="../js/addTasksHtml.js"></script>
    <script src="../js/dragAndDrop.js"></script>
    <link rel="icon" type="image/x-icon" href="../assets/img/logoWhite.svg" />
  </head>

  <body id="body" onload="initBoard()">
    <header w3-include-html="header.html"></header>
    <nav w3-include-html="nav.html"></nav>
    <section  id="contentAddTaskDisplay" class="d-none">
      <div onclick="closeAddTask()" class="backgroundDisplay"></div>
      <div
        id="displayAddTask"
        class="mainContainer"
        w3-include-html="addTask-display.html">
      </div>
    </section>
     <!--LOADING CONTAINER-->
    <div id="loadingContainer" class="d-none">
      <img src="../assets/img/spinner-loading.svg" alt="loading image" />
    </div>

    <div id="content" class="contentAfterLogin">
      <span class="headlineMobile">Kanban Project Management Tool</span>
      <!--HEADER-->
      <div class="headerBoard">
        <h1>Board</h1>
        <div class="containerSearchTasks">
          <div class="containerSearchTasksContent">
            <input
              id="searchBar"
              onkeyup="searchCards(event)"
              placeholder="Find Task"
              type="text" />
            <img
              src="../assets/img/boardSearch.svg"
              alt="icon for searching tasks" />
          </div>
        </div>
        <button onclick="showDisplay('contentAddTaskDisplay', 'animation-slideInRight', 'd-none'); toggleClass('body', 'overflowHidden')"">
          Add Task
          <img src="../assets/img/boardPlusWhite.svg" alt="icon to add tasks" />
        </button>
        <img onclick="showDisplay('contentAddTaskDisplay', 'animation-slideInRight', 'd-none'); toggleClass('body', 'overflowHidden')"class="addTaskMobile d-none" src="../assets/img/boardPlusFilled.svg" alt="icon to add tasks">
      </div>
      <!--MAIN-->
      <main class="mainBoard">
        <section>
          <div class="processStep">
            <span>To Do</span>
            <img src="../assets/img/boardPlus.svg" alt="icon to add a task" onclick="showDisplay('contentAddTaskDisplay', 'animation-slideInRight', 'd-none'); toggleClass('body', 'overflowHidden')"/>
          </div>
          <div id="todo" ondrop="moveTo('todo')" ondragover="allowDrop(event); highlightArea('todo')" ondragleave="unhighlightArea('todo')" ></div>
        </section>
        <section>
          <div class="processStep">
            <span>In progress</span>
            <img src="../assets/img/boardPlus.svg" alt="icon to add a task" onclick="showDisplay('contentAddTaskDisplay', 'animation-slideInRight', 'd-none'); toggleClass('body', 'overflowHidden')" />
          </div>
          <div id="inProgress" ondrop="moveTo('inProgress')" ondragover="allowDrop(event); highlightArea('inProgress')" ondragleave="unhighlightArea('inProgress')"  >
        </section>
        <section>
          <div class="processStep">
            <span>Awaiting Feedback</span>
            <img src="../assets/img/boardPlus.svg" alt="icon to add a task" onclick="showDisplay('contentAddTaskDisplay', 'animation-slideInRight', 'd-none'); toggleClass('body', 'overflowHidden')"/>
          </div>
          <div id="awaitingFeedback" ondrop="moveTo('awaitingFeedback')" ondragover="allowDrop(event); highlightArea('awaitingFeedback')" ondragleave="unhighlightArea('awaitingFeedback')"></div>
        </section>
        <section>
          <div class="processStep">
            <span>Done</span>
            <img src="../assets/img/boardPlus.svg" alt="icon to add a task" onclick="showDisplay('contentAddTaskDisplay', 'animation-slideInRight', 'd-none'); toggleClass('body', 'overflowHidden')"/>
          </div>
          <div id="done" ondrop="moveTo('done')" ondragover="allowDrop(event); highlightArea('done')" ondragleave="unhighlightArea('done')"></div>
        </section>
      </main>
    </div>    
    <!--DETAILS TASKS-DISPLAY -->
    <section onclick="hideDisplay('containerDetails', 'd-none'); toggleClass('body', 'overflowHidden')" id="containerDetails" class="d-none"></section>   
    <!--EDIT TASKS-DISPLAY --> 
    <section id="containerEdit" class="d-none"></section> 
  </body>
</html>
