<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join - Board</title>
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/general-responsiv.css" />
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/nav-responsiv.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/header-responsiv.css" />
    <link rel="stylesheet" href="../css/animations.css" />
    <link rel="stylesheet" href="../css/board.css" />
    <link rel="stylesheet" href="../css/board-responsiv.css" />
    <link rel="stylesheet" href="../css/addTask.css" />
    <link rel="stylesheet" href="../css/addTask-responsiv.css" />
    <script src="../js/storage.js"></script>
    <script src="../js/general.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/board.js"></script>
    <script src="../js/addTasks.js"></script>
    <link rel="icon" type="image/x-icon" href="../assets/img/logoWhite.svg" />
  </head>

  <body id="body" onload="initBoard()">
    <header w3-include-html="header.html"></header>
    <nav w3-include-html="nav.html"></nav>
    <div
    w3-include-html="addTask-display.html"
    id="containerAdd"
    class="d-none"></div>
     <!--LOADING CONTAINER-->
     <div id="loadingContainer" class="d-none">
      <img src="../assets/img/spinner-loading.svg" alt="loading image" />
    </div>

    <div id="content" class="contentAfterLogin">
      <span class="headlineMobile">Kanban Project Management Tool</span>
      <!--HEADER-->
      <div class="headerBoard">
        <h1>Board</h1>
        <div class="containerSearchTasks">
          <div class="containerSearchTasksContent">
            <input
              id="searchBar"
              onkeyup="filterTasks()"
              placeholder="Find Task"
              type="text" />
            <img
              src="../assets/img/boardSearch.svg"
              alt="icon for searching tasks" />
          </div>
        </div>
        <button onclick="toggleClass('body', 'overflowHidden'); showAddTask('containerAdd','animation-slideInRight','d-none')">
          Add Task
          <img src="../assets/img/boardPlusWhite.svg" alt="icon to add tasks" />
        </button>
        <img onclick="toggleClass('body', 'overflowHidden'); showAddTask('containerAdd','animation-slideInRight','d-none')" class="addTaskMobile d-none" src="../assets/img/boardPlusFilled.svg" alt="icon to add tasks">
      </div>
      <!--MAIN-->
      <main class="mainBoard">
        <section>
          <div class="processStep">
            <span>To Do</span>
            <img src="../assets/img/boardPlus.svg" alt="icon to add a task" />
          </div>
          <div id="todo"></div>
        </section>
        <section>
          <div class="processStep">
            <span>In progress</span>
            <img src="../assets/img/boardPlus.svg" alt="icon to add a task" />
          </div>
          <div id="inProgress" ondrop="moveTo('inProgress')" ondragover="allowDrop(event)" >
        </section>
        <section>
          <div class="processStep">
            <span>Awaiting Feedback</span>
            <img src="../assets/img/boardPlus.svg" alt="icon to add a task" />
          </div>
          <div id="awaitingFeedback" ondrop="moveTo('awaitingFeedback')" ondragover="allowDrop(event)"></div>
        </section>
        <section>
          <div class="processStep">
            <span>Done</span>
            <img src="../assets/img/boardPlus.svg" alt="icon to add a task" />
          </div>
          <div id="done" ondrop="moveTo('done')" ondragover="allowDrop(event)"></div>
        </section>
      </main>
    </div>    
    <!--DETAILS TASKS-DISPLAY -->
    <section id="containerDetails" class="d-none"></section>   
    <!--EDIT TASKS-DISPLAY --> 
    <section id="containerEdit" class="d-none">
      <div id="displayAddTask" class="containerDisplayEdit">
          <span class="bold">Title</span>
          <input type="text" id="titleInput" placeholder="Enter a title">
          <span id="errorTitleEdit" class="error d-none">Please enter a title</span>
          <span class="bold">Description</span>
          <input type="text" id="descriptionInput" placeholder="Enter a description">
          <span id="errorDescriptionEdit" class="error d-none">Please enter a description</span>
          <img onclick="closeEditTask()" id="closeDisplay" src="../assets/img/boardCloseDisplay.svg" alt="icon to close display">
          <span class="bold">Due date</span>
          <div>
            <input type="date" id="inputDueDate" placeholder="dd/mm/yyyy">
          </div>
          <span id="errorDueDateEdit" class="error d-none">Please select a due day</span>
          <span class="bold">Prio</span>
          <div class="prioBtns">
            <button type="button" id="urgent" class="singlePrioBtn" onclick="changeStylePrioBtn('urgent','red', '../assets/img/prioUrgent.svg')">
              Urgent
              <img src="../assets/img/prioUrgent.svg" alt="icon to show priority">
            </button>
            <button type="button" id="medium" class="singlePrioBtn" onclick="changeStylePrioBtn('medium','orange', '../assets/img/prioMedium.svg')">
              Medium
              <img src="../assets/img/prioMedium.svg" alt="icon to show priority">
            </button>
            <button type="button" id="low" class="singlePrioBtn" onclick="changeStylePrioBtn('low','green','../assets/img/prioLow.svg')">
              Low
              <img src="../assets/img/prioLow.svg" alt="icon to show priority">
            </button>
          </div>
          <span class="bold">Assigned to</span>   
          <div id="selectContactsDiv" class="containerSection">
            <div id="selectContactsTitleDiv" class="containerTitle">
              <span class="bold" id="selectContactsTitle">Select contacts to assign</span>
              <img class="inputImage" src="../assets/img/addTaskDropDownArrow.svg" alt="arrow to drop down the menu of contacts">
            </div>
            <ul id="listContacts" class="listDropDown d-none">
              <div id="loggedUserContact">
                <li class="oneContact">
                  <div onclick="toggleCheckbox(0)" class="toggleCheckbox"></div>
                  <label class="nameOfContact">You</label>
                  <input id="checkBoxUser0" type="checkbox">
                </li>
              </div>
              <div id="savedContacts"></div>
            </ul>
          </div>    
          <div class="okayBtnEditTaskContainer">
            <button>
                <span>Ok</span>
                <img src="../assets/img/addTaskCreate.svg" alt="icon to clear the create a new Task">
            </button>
          </div>
        </div>
    </section> 
  </body>
</html>
