<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join - Email has been sent</title>
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/general-responsiv.css" />
    <link rel="stylesheet" href="../css/forgotPassword.css" />
    <link rel="stylesheet" href="../css/forgotPassword-responsiv.css" />
    <link rel="icon" type="image/x-icon" href="../assets/img/logoWhite.svg" />
  </head>

  <body>
    <div class="contentBeforeLogin">
      <div class="logoDiv">
        <img src="../assets/img/logoDark.svg" alt="logo of join" />
      </div>

      <div class="display padding">
        <div class="displayHeader">
          <img
            onclick="goBackToPreviousPage()"
            class="arrowBackBlue"
            src="../assets/img/arrowBackBlue.svg"
            alt="arrow to get back" />
          <h1 class="title">
            No worries
            </h1>
        </div>
        <div class="blueLine marginTop"></div>
        <span class="marginTop textCenter"
          >An E-Mail to reset your password has been sent to
          you. Please click on the provided link.
        </span>
      </div>
  </body>
</html>
