<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join - Forgot Password</title>
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/general-responsiv.css" />
    <link rel="stylesheet" href="../css/forgotPassword.css" />
    <link rel="stylesheet" href="../css/forgotPassword-responsiv.css" />
    <script src="../js/storage.js"></script>
    <script src="../js/globalVariables.js"></script>
    <script src="../js/generalFunctions.js"></script>
    <script src="../js/sampleData.js"></script>
    <script src="../js/forgotPassword.js"></script>
    <link rel="icon" type="image/x-icon" href="../assets/img/logoWhite.svg" />
  </head>

  <body onload="initForgotPassword()">
    <div class="contentBeforeLogin">
      <div class="logoDiv">
        <img src="../assets/img/logoDark.svg" alt="logo of join" />
      </div>

      <!--LOADING CONTAINER-->
      <div id="loadingContainer" class="d-none">
        <img src="../assets/img/spinner-loading.svg" alt="loading image" />
      </div>

      <div class="display padding">
        <div class="displayHeader">
          <img
            onclick="window.location.href='../index.html'"
            class="arrowBackBlue"
            src="../assets/img/arrowBackBlue.svg"
            alt="arrow to get back" />
          <h1 class="title">I forgot my password</h1>
        </div>
        <div class="blueLine marginTop"></div>
        <span class="marginTop textCenter"
          >Don't worry! We will send you an email with the instructions to reset
          your password.</span
        >
        <form
          onsubmit="checkEmailToResetPassword()"
          class="form marginTop"
          method="POST">
          <input
            class="input inputEmail marginTop"
            id="emailForgotPassword"
            type="email"
            placeholder="Email"
            name="recipient"
            required />
          <span id="noUserWithThisEmail" class="error d-none"
            >This e-mail is not a registered user.</span
          >
          <div class="marginTop">
            <button type="submit" class="sendEmailBtn">
              Send me the email
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="d-none">
      <img
        src="../assets/img/emailSent.svg"
        alt="icon which shows that email has been sent" />
      <button>An E-Mail has been sent to you</button>
    </div>
  </body>
</html>
