<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join - Forgot Password</title>
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/general-responsiv.css" />
    <link rel="stylesheet" href="../css/forgotPassword.css" />
    <link rel="stylesheet" href="../css/forgotPassword-responsiv.css" />
    <link rel="icon" type="image/x-icon" href="../assets/img/logoWhite.svg" />
  </head>

  <body>
    <div class="contentBeforeLogin">
      <div class="logoDiv">
        <img src="../assets/img/logoDark.svg" alt="logo of join" />
      </div>

      <div class="display padding">
        <div class="displayHeader">
          <img
            onclick="window.location.href='../index.html'"
            class="arrowBackBlue"
            src="../assets/img/arrowBackBlue.svg"
            alt="arrow to get back" />
          <h1 class="title">I forgot my password</h1>
        </div>
        <div class="blueLine marginTop"></div>
        <span class="marginTop textCenter"
          >Don't worry! We will send you an email with the instructions to reset
          your password.</span
        >
        <form
          class="form marginTop"
          action="http://laura-hesidenz.developerakademie.com/send_mail/send_mail.php"
          method="POST">
          <input
            class="input inputEmail marginTop"
            type="email"
            placeholder="Email"
            required />
          <div class="marginTop">
            <button class="sendEmailBtn">Send me the email</button>
          </div>
        </form>
      </div>
    </div>
    <div class="d-none">
      <img
        src="../assets/img/emailSent.svg"
        alt="icon which shows that email has been sent" />
      <button>An E-Mail has been sent to you</button>
    </div>
  </body>
</html>
