<div
  onclick="loadTemplate('../templates/summary.html')"
  class="logo cursorPointer">
  <img src="../assets/img/logoWhite.svg" alt="icon of logo" />
</div>
<div class="navSections">
  <a href="summary.html" id="summary">
    <img
      class="navSummaryIcon"
      src="../assets/img/navSummary.svg"
      alt="icon of summary" />
    <span class="navText">Summary</span>
  </a>
  <a href="board.html" id="board">
    <img
      class="navBoardIcon"
      src="../assets/img/navBoard.svg"
      alt="icon of board" />
    <span class="navText activeText">Board</span>
  </a>
  <a href="addTask.html" id="addTask">
    <img
      class="navTaskIcon"
      src="../assets/img/navAddTask.svg"
      alt="icon of tasks" />
    <span class="navText">Add Task</span>
  </a>
  <a href="contacts.html" id="contacts">
    <img
      class="navContactsIcon"
      src="../assets/img/navContacts.svg"
      alt="icon of contacts" />
    <span class="navText">Contacts</span>
  </a>
  <a href="legalNotice.html" id="legalNotice" class="navLegalNotice">
    <img
      class="navLegalNoticeIcon"
      src="../assets/img/navLegalNotice.svg"
      alt="icon of legal notice" />
    <span class="navText">Legal Notice</span>
  </a>
</div>
