<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join - Reset Password</title>
    <link rel="stylesheet" href="../css/general.css" />
    <link rel="stylesheet" href="../css/resetPassword.css" />
    <link rel="stylesheet" href="../css/resetPassword-responsiv.css" />
    <script src="../js/storage.js"></script>
    <script src="../js/globalVariables.js"></script>
    <script src="../js/generalFunctions.js"></script>
    <script src="../js/resetPassword.js"></script>
    <title>Join - Legal Notice</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/logoWhite.svg" />
  </head>

  <body onload="initResetPassword()">
    <div class="contentBeforeLogin">
      <div class="logoDiv">
        <img src="../assets/img/logoDark.svg" alt="logo of join" />
      </div>

      <!--LOADING CONTAINER-->
      <div id="loadingContainer" class="d-none">
        <img src="../assets/img/spinner-loading.svg" alt="loading image" />
      </div>

      <div class="display padding">
        <div class="displayHeader">
          <img
            onclick=""
            class="arrowBackBlue"
            src="../assets/img/arrowBackBlue.svg"
            alt="arrow to get back" />
          <h1 class="title">Reset your password</h1>
        </div>
        <div class="blueLine marginTop"></div>
        <span class="marginTop textCenter">Change your account password</span>
        <form class="form marginTop" onsubmit="emailHasBeenSent();return false">
          <input
            id="newPasswordInput"
            class="input"
            type="password"
            placeholder="New password"
            required />
          <input
            id="confirmPasswordInput"
            class="input"
            type="password"
            placeholder="Confirm password"
            required />
          <div class="marginTop">
            <button>Continue</button>
          </div>
        </form>
      </div>
    </div>
    <button class="d-none">You reset your password</button>
  </body>
</html>
